<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions class="java.util.concurrent.CopyOnWriteArrayList"/>
  <description>Application: Red5&#xd;
Component: Java Server&#xd;
Branch: Trunk&#xd;
JVM: JDK 1.5&#xd;
Platform: i386&#xd;
OS: Linux</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://red5.googlecode.com/svn/java/server/branches/aclarke_autotest</remote>
        <local>workingcopy</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>false</useUpdate>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <jdk>JDK5</jdk>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0,15,30,45 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <builders>
    <hudson.tasks.Ant>
      <targets>clean
run-tests-systemtest</targets>
      <antName>Ant7</antName>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>workingcopy/bin/testcases/testreports/fixtures/output/**/*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer>
      <recipients>red5-builds@googlegroups.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <org.jvnet.hudson.plugins.port__allocator.PortAllocator>
      <ports>
        <org.jvnet.hudson.plugins.port__allocator.DefaultPortType>
          <name>1935</name>
        </org.jvnet.hudson.plugins.port__allocator.DefaultPortType>
      </ports>
    </org.jvnet.hudson.plugins.port__allocator.PortAllocator>
    <hudson.plugins.xvnc.Xvnc>
      <takeScreenshot>false</takeScreenshot>
    </hudson.plugins.xvnc.Xvnc>
  </buildWrappers>
</project>
